//$background-color-base: #e3e8ee;
.pad-0 {
  padding: 0 !important;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: #E5E5E5;
}

#profile .ant-upload{
  width: 100%;
}

.table-row-red {
  background-color: #FFDBDC;
}

.table-row-yellow {
  background-color: #FEEFD0;
}

.table-row-green {
  background-color: #DCF3D1;
}

.bg-color-pending {
  background-color: #FAAD14;
  color: #FFFFFF;
}

.bg-color-rejected {
  background-color: #FF4D4F;
  color: #FFFFFF;
}

.bg-color-open {
  background-color: #338500;
  color: #FFFFFF;
}

.bg-color-approved {
  background-color: #52C41A;
  color: #FFFFFF;
}

.bg-color-editing {
  background-color: #1890FF;
  color: #FFFFFF;
}

.text-color-pending {
  color: #FAAD14;
}

.text-color-rejected {
  color: #FF4D4F;
}

.text-color-open {
  color: #338500;
}

.text-color-approved {
  color: #52C41A;
}

.text-color-editing {
  color: #1890FF;
}

.register-modal .ant-modal-content {
  border-radius: 20px !important;
}

.register-modal .ant-modal-body {
  border-radius: 20px !important;
  padding: 0 0 10px 0 !important;
}

.tc-modal .ant-tabs-tab {
  padding-top: 0 !important;
  font-size: 1rem;
  font-weight: 600;
  text-shadow: none;
}

.tc-modal .ant-tabs-content-holder {
  padding-top: 0 !important;
  font-size: 0.8rem;
  font-weight: 500;
}

.opacity-1 {
  opacity: 1 !important;
}
.under-construction {
  background: #F6F6F6;
}

.container-1 {
  border: 2px solid rgba(112, 112, 112, 0.25);
  height: 84vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 6vh 4vw;
}

.container-1::before { content: ''; }

.we-are-text {
  color: #04204D;
  text-align: left;
  font: normal normal bold 60px/80px Montserrat;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.menu-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
}

.container-1::before, .menu-container {
  flex: 1;
}


.menu-item{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-button {
  width: 11px;
  margin-right: 5px;
  height: 11px;
  background: #FE6601 0% 0% no-repeat padding-box;
}

.menu-item{
  margin-right: 4vw;
}

.menu-label {
  font: normal normal medium 13px/17px Montserrat;
  letter-spacing: 3.25px;
  text-transform: uppercase;
  font-weight: 500;
  color: #04204D;
}

.logo-accent{
  position: absolute;
  bottom:-36vh;
  right:-10vw;
  transform: rotate(45deg);
}

@media only screen and (max-device-width: 768px) {
  .logo-accent{
    bottom: -12vh;
    right:-20vw;
  }

  .logo-accent img {
    width: 50vw;
  }
}

.cube__face--back {
  background: red;
}
.cube__face--top {
  background: blue;
}

.cube__face--left {
  background: green;
}

.cube__face--right {
  background: yellow;
}

.cube__face--bottom {
  background: purple;
}

.scene {
  width: 100vw;
  height: 100vh;
  perspective: 60vw;
}


.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.cube__face {
  position: absolute;
}

.cube__face--back   { transform: rotateY(180deg) translateZ(10vw);  width: 100vw; height: 100vh; }
.cube__face--left   { transform: rotateY(-90deg) translateZ(50vw); width:100vw;height: 200vh;}
.refact {transform: rotateY(180deg)}
