//$background-color-base: #e3e8ee;
.pad-0 {
  padding: 0 !important;
}

html,
body {
  padding: 0;
  margin: 0;
  //overflow: hidden;
}

body {
  background-color: #E5E5E5;
}

#profile .ant-upload{
  width: 100%;
}

svg { vertical-align: baseline; }

.table-row-red {
  background-color: #FFDBDC;
}

.table-row-yellow {
  background-color: #FEEFD0;
}

.table-row-green {
  background-color: #DCF3D1;
}

.imageLogo .ant-image {
  position: relative !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.bg-color-pending {
  background-color: #FAAD14;
  color: #FFFFFF;
}

.bg-color-rejected {
  background-color: #FF4D4F;
  color: #FFFFFF;
}

.bg-color-open {
  background-color: #338500;
  color: #FFFFFF;
}

.bg-color-approved {
  background-color: #52C41A;
  color: #FFFFFF;
}

.bg-color-editing {
  background-color: #1890FF;
  color: #FFFFFF;
}

.text-color-pending {
  color: #FAAD14;
}

.text-color-rejected {
  color: #FF4D4F;
}

.text-color-open {
  color: #338500;
}

.text-color-approved {
  color: #52C41A;
}

.text-color-editing {
  color: #1890FF;
}

.register-modal .ant-modal-content {
  border-radius: 20px !important;
}

.register-modal .ant-modal-body {
  border-radius: 20px !important;
  padding: 0 0 10px 0 !important;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: #FE6601 !important;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: #FE6601 !important;
}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: #FE6601 !important;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #FE6601 !important;
}

.tc-modal .ant-tabs-tab {
  padding-top: 0 !important;
  font-size: 1rem;
  font-weight: 600;
  text-shadow: none;
}

.tc-modal .ant-tabs-content-holder {
  padding-top: 0 !important;
  font-size: 0.8rem;
  font-weight: 500;
}

.opacity-1 {
  opacity: 1 !important;
}
.under-construction {
  //background: #F6F6F6;
}

.container-1 {
  border: 2px solid rgba(112, 112, 112, 0.25);
  height: 84vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 6vh 4vw;
  background: #f1f1f1;
}

.container-1::before { content: ''; }

.we-are-text {
  color: #04204D;
  text-align: left;
  font: normal normal bold 60px/80px Montserrat;
  font-size: 5em;
  letter-spacing: 0px;
  text-transform: capitalize;
  display: flex;
}

.menu-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
}

.container-1::before, .menu-container {
  flex: 1;
}


.menu-item{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-button {
  width: 11px;
  margin-right: 5px;
  height: 11px;
  background: #FE6601 0% 0% no-repeat padding-box;
}

.menu-item{
  margin-right: 4vw;
}

.menu-label {
  font: normal normal medium 13px/17px Montserrat !important;
  letter-spacing: 3.25px;
  text-transform: uppercase;
  font-weight: 500;
  color: #04204D;
}

.logo-accent{
  position: absolute;
  bottom:-36vh;
  right:-10vw;
  transform: rotate(45deg);
}

.container-1 .container-slider{
  width: 66.6% !important;
}

.text1Full {
  transition: width 1.5s ease-out;
}

.text2Full {
  transition: width 1.5s ease-out;
}

.text3Full {
  transition: width 1.5s ease-out;
}

.text4Full {
  transition: width 1.5s ease-out;
}

.text-slider {
  text-align: left;
  //font: normal normal medium 60px/80px Montserrat;
  font-family: Montserrat;
  font-size: 5em;
  padding-left: 5px;
  line-height: 80px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #04204D;
  text-transform: capitalize;
  opacity: 1;
}

.text-slider-container {
  background: transparent linear-gradient(90deg, #FF6500 0%, #FFD1B300 100%) 0% 0% no-repeat padding-box;
  //width: 66.6667%;
  //display: inline-flex;
}

.crop-div {
  overflow:hidden;
  margin:0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20%;
}

.crop-img{
  margin:0 -37% -100%;
  opacity: 0.5;
  width: 13vw !important;
}

.imageBg {
  background-image:url('/assets/accents/finger-print.png');
  background-size:250;
  background-position-x:-50px !important;
  background-position-y:150px !important;
}

.centerIcon svg { vertical-align: baseline; }

.grid > .ant-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image{
  filter: grayscale(100%) brightness(400%);
}

.logo-image-gray{
  filter: grayscale(100%);
}

.logo-image-gray:hover{
  filter: none;
  transition: 500ms;
}

.logo-dukcapil{
  filter: grayscale(100%) invert(100%) contrast(180%);
  text-align: center;
}

.logo-image:hover, .logo-dukcapil:hover{
  filter: none;
  transition: 500ms;
}

.certificate {
  text-align: center;
  justify-content: center;
}

.certificate-sub {
  font: normal normal medium 14px/18px Montserrat;
  letter-spacing: 2.1px;
  color: #818FA6;
  text-transform: uppercase;
  opacity: 1;
}

.certificate-title {
  font: normal normal bold 72px/72px Montserrat;
  letter-spacing: 0px;
  opacity: 1;
}

.certificate-subtitle {
  font: normal normal medium 48px/48px Montserrat;
  font-size: 48px;
  letter-spacing: 0px;
  opacity: 1;
  margin-top: -5%;
}

.logo-usecase{
  clip-path: inset(0% 50% 50% 0%);
  filter: grayscale(1) invert(1);
  opacity: 0.5;
  position: relative;
  right: -50%;
  bottom: -250px;
}

.montserrat {
  font-family: 'Montserrat'
}

.ant-steps-item-title {
  display: none !important;
}

.stroke {
  -webkit-text-stroke: 2px #FFFFFF;
}

.circle{
  position: absolute;
  top: 18%;
  left: 20px;
  width: 55%;
  height: 65%;
  background: transparent;
  border: 6px solid #145FD9;
  border-radius: 50%;
  opacity: 0.2;
}

.line-top{
  position: absolute;
  top: 0;
  left: 28%;
  width: 6px;
  height: 18%;
  background: #145FD9;
  opacity: 0.2;
}

.line-mid{
  position: absolute;
  top: 50%;
  right: 0;
  width: 43.5%;
  height: 6px;
  background: #145FD9;
  opacity: 0.2;
}

.line-bottom{
  position: absolute;
  top: 50.5%;
  right: 15%;
  width: 6px;
  height: 50%;
  background: #145FD9;
  opacity: 0.2;
}

.arrow-usecase:hover{
  opacity: 0.5 !important;
  filter: brightness(120%) !important;
}

.arrow-prev-product > button[aria-label='Previous'], .arrow-next-product > button[aria-label='Next'] {
  display: none;
}

.css-1abc02a:hover, .css-hn784z:hover button{
  opacity: 1;
  filter: brightness(1);
}

.box {
  width: 150px;
  height: 150px;
  margin: 20px;
  border-radius: 4px;
  padding: 10px;
  background-color: teal;
  position: relative;
  transform: translateX(0);
  transition: transform 500ms ease-in-out;
}
.box.right {
  transform: translateX(100%);
}

@media only screen and (min-device-width: 2560px) {
  .logo-accent{
    bottom: -22vh;
    right:-8vw;
  }
}

@media only screen and (max-device-width: 480px) {
  .imageBg {
    background-size:100px !important;
    background-position-x:-40px !important;
    background-position-y:130px !important;
  }
}


@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .imageBg {
    background-size:250 !important;
    background-position-x:-40px !important;
    background-position-y:80px !important;
  }
}

@media only screen and (max-device-width: 768px) {
  .crop-img{
    width: 30vw !important;
  }

  .logo-accent{
    bottom: -12vh;
    right:-20vw;
  }

  .logo-accent img {
    width: 50vw;
  }

  .we-are-text {
    font-size: 3.5em;
    letter-spacing: 0px;
    text-transform: capitalize;
    flex-direction: column;
  }

  .container-1 .container-slider{
    width: 100% !important;
  }

  .text-slider-container {
    width:100% !important;
  }

  .text-slider {
    font-size: 2.3em;
    opacity: 1;
    margin-left: 5px;
  }
}

.cube__face--back {
  background: red;
}
.cube__face--top {
  background: blue;
}

.cube__face--left {
  background: green;
}

.cube__face--right {
  background: yellow;
}

.cube__face--bottom {
  background: purple;
}

.scene {
  width: 100vw;
  height: 100vh;
  perspective: 60vw;
}


.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.cube__face {
  position: absolute;
}

.cube__face--back   { transform: rotateY(180deg) translateZ(10vw);  width: 100vw; height: 100vh; }
.cube__face--left   { transform: rotateY(-90deg) translateZ(50vw); width:100vw;height: 200vh;}
.refact {transform: rotateY(180deg)}


#tsparticles canvas {
  position: absolute;
  bottom: 0vh;
  //left:25vw;
}

.particle1 canvas{
  transition: 1s;
  bottom:30vh;
  left:0;
}

.particle2 canvas{
  transition: 1s;
  bottom:30vh;
  left:25vw;
}

.particle3 canvas{
  transition: 1s;
  bottom:30vh;
  left:50vw;
}

.particle4 canvas{
  transition: 1s;
  bottom:30vh;
  left:70vw;
}

.buttonSubmit{
  opacity: 0;
}

.buttonSubmitShow{
  opacity: 1 !important;
  transition: 1s;
}


.formNewsletter .ant-form-item-explain.ant-form-item-explain-error{
  color:white !important;
}

#about-me {
  filter: grayscale(1) invert(1) opacity(0.6);
  height: 100%;
}

.about-img > .ant-image {
  height: 100%;
}

.usecase-img > .ant-image{
  width: 100%;
  height: 100%;
}

.usecase-img-2 > .ant-image{
  width: 100%;
}

.trusted-img > .ant-image{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-bg > .ant-image{
  height: auto
}

.section-gradient-bg{
  background: rgb(0,11,30);
  background: linear-gradient(90deg, rgba(0,11,30,1) 0%, rgba(7,39,91,1) 48%, rgba(4,32,77,1) 100%);
}

.bg-usecase-top {
  background: linear-gradient(180deg, rgba(19, 47, 112, 0.16) 16.89%, #132F70 100%);
}

.bg-menu{
  background-color: rgba(255,255,255, 0.8);
}
.custom-modal > .ant-modal-content{
  width: 100vw !important;
  height: 100% !important;
  background: transparent;
  box-shadow: none !important;
}

@media only screen and (max-device-width: 576px) {
  .contact-bg > .ant-image{
    height: 100%
  }
}

@media only screen and (max-device-width: 425px) {
  .ant-steps-item-icon{
    width: 10px !important;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-height: 596px) {
  .custom-height{
    height: 24rem !important;
    overflow-y: scroll !important;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-height: 712px) {
  .m-usecase{
    //margin-top: 2rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (max-device-height: 738px) {
  .custom-height{
    height: 29rem !important;
    overflow-y: scroll !important;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 360px) {.triv-top {top: 10px !important}}
@media only screen and (min-device-width: 361px) and (max-device-width: 419px){.triv-top {top: 20px !important}}
@media only screen and (min-device-width: 420px) and (max-device-width: 519px){.triv-top {top: 40px !important}}
@media only screen and (min-device-width: 520px) and (max-device-width: 575px){.triv-top {top: 50px !important}}
@media only screen and (min-device-width: 576px) and (max-device-width: 639px) {.triv-top {top: 60px !important}}

.size-full {
  width: 100% !important;
  height: 100% !important;
}

.use-case-applications {
  list-style: none;
}

.use-case-applications li::before {
  content: "\2022";
  color: #FF6703;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.section-most-top{
  scroll-margin-top: 6rem;
}

.section-most-top-use-case{
  scroll-margin-top: 5rem;
}

.section-most-top-client{
  scroll-margin-top: 5rem;
}

@media only screen and (min-device-width: 1280px) and (max-device-height: 619px){
  .w-custom-small{
    width: 7rem !important;
    height: 7rem !important;
  }
  .w-custom-big{
    width: 9rem !important;
    height: 9rem !important;
  }
}

@media only screen and (max-device-width: 1024px) and (max-device-height: 634px){
  .w-tablet{
    width: 36rem
  }
  .w-custom-big{
    width: 7rem !important;
    height: 7rem !important;
  }
}

@media only screen and (max-device-width: 369px){
  .m-top{
    top: 25rem !important
  }
}

@media only screen and (max-device-width: 767px) and (max-device-height: 678px){
  .space-mobile {
    height: 10rem !important;
  }
}

.box-hover {
  transition: box-shadow .3s;
  float: left;

}
.box-hover:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.box-hover {
  transition: box-shadow .3s;
  float: left;

}
.box-hover:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
