.home-next-generation {
  font-family: Montserrat;
  font-weight: 900;
  letter-spacing: 3.25px;
  text-transform: capitalize;
  color: #04204D;
  display: flex;
  flex-direction: column;
}

.home-next-generation-sub {
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 3.25px;
  text-transform: capitalize;
  color: #04204D;
  display: flex;
  flex-direction: column;
}

.home-plexus canvas{
  right:0;
}

.choose-lang p{
  font-family: Montserrat;
  font-size: 1.5em;
  font-weight: 400;
  color: #71757C;
}

.choose-lang p:hover{
  color: #FF6703;
}
